{% extends 'header.html' %}

{% load static %}

{% block content %}
    <section class="text-white">
        <br>
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-12 titulo">
                    <h1 class="text-center">Productos De Hombres</h1>
                    <hr class="borde">
                </div>
            </div>
            <div class="row">

                {% for producto in productos %}
                    <div class="col-md-6 col-lg-4 col-xl-3 tarjeta">
                        <div>
                            {% if producto.imagen %}
                                <img class="imgCard" src="{{ producto.imagen.url }}">
                            {% endif %}
                        </div>
                        <div>
                            <h4 class="product-title">{{producto.nombre}}</h4>
                            <h4 class="product-price">${{producto.precio}}</h4>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock  %}